* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    // font-family: "Open Sans", sans-serif;
    // font-size: 16px;
    // line-height: normal;
    // font-weight: 400;
    // color: $black;
}
img {
    max-width: 100%;
}
button,
input {
    font: inherit;
}

.container {
    // max-width: calc(1180px + 40px);
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
